Choreo/SampleData/SampleDataSource/SampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.SampleDataSource" targetNamespace="Expression.Blend.SampleData.SampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SampleDataSource" type="tns:SampleDataSource" />
  <xs:complexType name="SampleDataSource">
    <xs:sequence>
      <xs:element name="Coll1" type="tns:Coll1" />
    </xs:sequence>
    <xs:attribute blend:FormatParameters="2" name="Position" type="xs:double" />
  </xs:complexType>
  <xs:complexType name="Coll1">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Coll1Item" type="tns:Coll1Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Coll1Item" />
</xs:schema>